<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Fresh Grill Pick Portal</title>
  </head>
  <body style="min-height:100vh">
    <div class="container" id="app">
      <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 20px">
        <a class="navbar-brand" href="/">Fresh Grill Pick Portal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto nav-pills">
          </ul>
          <div style="display:contents; font-size: smaller;">
          </div>
        </div>
      </nav>

      <!-- Begin page content -->
      <main role="main" class="container" style="margin-bottom:50px">
      	<div class="row">
	      	<div class="col-2 float-right" style="text-align: right">
	      		&nbsp;
	      	</div>
	      	<div class="col-10 my-2" style="font-size: x-large;">
		      	Order {{ order_no }}
	      	</div>
	      	<div class="col-2 my-1 float-right" style="text-align: right">
	      		Trays:
	      	</div>
	      	<div class="col-5 my-1">
	      		<input type="text" v-model='tray_qty' class="form-control">
	      	</div>
	      	<div class="col-5 my-1">
	      		&nbsp;
	      	</div>
	      	<div class="col-2 my-1 float-right" style="text-align: right">
	      		Weight:
	      	</div>
	      	<div class="col-5 my-1">
	      		<input type="text" v-model='weight_qty' class="form-control">
	      	</div>
	      	<div class="col-5 my-1">
	      		&nbsp;
	      	</div>
	      	<div class="col-2 my-1 float-right" style="text-align: right">
	      		&nbsp;
	      	</div>
	      	<div class="col-10 my-1">
		      	<button type="button"
		      			@click="send_confirm()"
		      			class="btn btn-warning btn-sm">Confirm</button>
	      	</div>
	    </div>

		<table class="table table-striped table-sm mt-5">
		  <thead>
		    <tr>
		      <th scope="col" style="width:20%; text-align:center;">Order No</th>
		      <th scope="col" style="width:30%">Trays</th>
		      <th scope="col" style="width:30%">Weight</th>
		      <th scope="col" style="width:20%; text-align:center;">Status</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr v-for="record in records">
		      <th scope="row" style="text-align:center;">{{ record.order_no }}</th>
		      <td>{{ record.tray_qty }}</td>
		      <td>{{ record.weight_qty }}</td>
		      <td style="text-align:center; padding:0">
		  	    <img  v-if="record.status==1" src="/img/loader.gif" style="width:25px; margin-top:4px" />
		  	    <span v-if="record.status==2" style="color:#00FF00; font-size: larger;">&#10004;</span>
		  	    <span v-if="record.status==3" style="font-size:larger; color:red;">&#65794;</span>
		      </td>
		    </tr>
		  </tbody>
		</table>
      </main>

      <footer class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light"
              style="right:75px; left:75px">
        &copy; Copyright freshgrillfoods.com 2018
      </footer>
	</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript">
    	var app = new Vue({
		  el: '#app',
		  data: function() {
		    return {
		      order_no: 1,
		      tray_qty: '',
		      weight_qty: '',
		      records: []
		  	}
		  },
		  methods: {
		  	send_confirm: function() {
		  		var self = this
		  		this.records.push({ order_no: this.order_no,
		  		                    tray_qty: this.tray_qty,
		  		                    weight_qty: this.weight_qty,
		  		                    status: 1 })
		  		var order_rec = this.records.length - 1

		  		// ------ Set AJAX url -----------------------------------------
		  		var url = '/cgi/app.pl'
		  		// -------------------------------------------------------------

		        var params = new URLSearchParams()
		        params.append('order_no', this.order_no)
		        params.append('tray_qty', this.tray_qty)
		        params.append('weight_qty', this.weight_qty)
		        axios.post(url, params)
		             .then(function(data) {
		             	self.records[order_rec].status = 2
		             })
		             .catch(function(error) {
		             	self.records[order_rec].status = 3
		             })
		  		this.order_no++
		  	}
		  }
		})
	</script>
  </body>
</html>
